/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@media only screen and (min-width: 600px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }
}

/* Modal */

.modal {
  display: none;
  position: absolute;
  z-index: 1;
}
